* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html {
  background-image: linear-gradient(135deg, #a2edfb 0, 
                                          #82dff6 16.67%, 
                                          #5bd1f1 33.33%, 
                                          #0cc1ed 50%,
                                          #00b1e9 66.67%,
                                            #00a2e7 83.33%, 
                                            #0093e4 100%);
}
